@CHARSET "UTF-8";
.table{
	margin:5px 10px 0px 10px;
}
.table tr th{
	font-size:14px;
	text-align:center;
}

.table tr td{
	heigth:30px;
	line-height:30px;
	font-size:14px;
	font-weight:normal;
	overflow:hidden; 
	text-align:center;
	vertical-align:middle;
}

.table tr td.content{
	text-align:left;
	padding:0 0 0 10px;
	vertical-align:middle;
	font-size:14px;
}

.table tr td.nodetails{
	text-align:left;
	padding:0 0 0 50px;
	vertical-align:middle;
	color:red;
	font-size:14px;
}
.main{
	border:1px solid #eee;
	height:auto;
	margin-top:10px;
	margin-bottom:30px;
	margin-left:-1px;
}

.main p.note{
	padding-left:20px;
	
}
.main div.title{
	text-align:center;
	background-color:#428BCA;
}

.main div.title p{
	height:30px;
	line-height:30px;
	font-size:16px;
	font-weight:bold;
	color:#fff;
}
